language: rust
cache: cargo
before_script:
  - rustup component add rustfmt-preview
  - rustup component add clippy-preview
script:
  - |
    cargo fmt -- --check &&
    cargo build &&
    cargo clippy -- -D clippy
